---
import type { MarkdownHeading } from "astro";

import { generateToc } from "@utils/generateToc";

import TOCHeading from "./TocHeading.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<aside
  class="toc lg:block fixed left-[82%] top-32 order-2 -me-32 hidden basis-64"
>
  <h2 class="font-semibold">本页内容</h2>
  <ul class="toc-list mt-4 text-sm">
    {toc.map(heading => <TOCHeading heading={heading} />)}
  </ul>
</aside>