@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --white: #ffffff;
  --black: #000000;
  --text-disabled-color: rgba(0, 0, 0, 0.38);
  --code-block-color: #e7e7e7;
}

body.dark {
  --text-disabled-color: rgba(255, 255, 255, 0.5);
  --code-block-color: #022a4b;
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-stone-300 dark:text-stone-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}
