@tailwind base;
@tailwind components;
@tailwind utilities;

.prose .anchor {
  @apply invisible absolute;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose a {
  @apply transition-all;
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

@media screen(md) {
  .prose .anchor:after {
    content: '#';
  }
}

.icon {
  @apply h-4 w-4 font-semibold;
}
